.columns {
  @media screen and (min-width: 769px) {
    display: flex;
  }
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.is-5 {
  flex: none;
  width: 41.66667%;
}

.is-6 {
  flex: none;
  width: 50%;
}

.is-8 {
  flex: none;
  width: 58.33333%;
}

.align-items--center {
  align-items: center;
}

.column--reverse {
  @media screen and (min-width: 769px) {
    display: table-footer-group;
  }
}